<%- include('header'); %>

<div class="container">
    <h1><%= title %></h1>
    <br><a href="/profile">Profile</a> 
</div>
<br><a href="/transfer">Transfer</a>

<%- include('{ account: accounts.savings }'); %>
<%- include('{ account: accounts.checking }'); %>
<%- include('{ account: accounts.credit }'); %>

<%- include('footer'); %>